<header class="d-flex justify-content-center py-3 bg-dark rounded mt-5">
  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "Home", posts_path, class:"btn btn-primary" %></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><%= link_to "New post", new_post_path, class:"btn btn-info" %></li>
  </ul>
</header>

