<!--<p style="color: green"><%#= notice %></p>-->

<% @posts.each do |post| %>
  <%= link_to post, class: 'text-decoration-none' do %>
    <div class="card mb-3 bg-warning">
      <div class="card-body">
        <div class="row">
          <div class="col h-25">
            <h5><%= post.title %></h5>
<!--            card-title mb-1 text-dark-->
            <p class="text-dark mb-0"><%= post.content %></p>
          </div>
          <div class="col h-25">
            <!--            <img src="..." class="img-fluid" alt="Responsive image">-->
            <%#= image_tag post.image, class:"img-fluid float-right", style:"height:50%" %>
<!--            <div id="image" class="border border-2" style="height: 30px;">-->
              <%#= image_tag post.image, style:"height:10%" %>
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>








<!--<div id="posts">-->
<%# @posts.each do |post| %>
<%#= render post %>
<!--    <p>-->
<%#= link_to "Show this post", post %>
<!--    </p>-->
<%# end %>
<!--</div>-->

<%#= link_to "New post", new_post_path %>
<%#= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
