<div id="carouselExampleControls" class="carousel slide mx-auto w-75 h-75 my-0 py-0" data-bs-ride="carousel">
  <div class="carousel-inner">
<!--    <div class="carousel-item active">-->
      <%#= image_tag "img_lights.jpg", class: "d-block w-100" %>
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>Aurora Borealis</h5>-->
<!--        <p>Zorza Polarna</p>-->
<!--      </div>-->
<!--    </div>-->
    <div class="carousel-item active">
      <%= link_to "https://tranquil-crag-12303.herokuapp.com/", class: "text-decoration-none", target: "_blank" do %>
        <%= image_tag "screen2.png", class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Screenshot z projektu</h5>
          <p>Timer</p>
        </div>
      <% end %>
    </div>
    <div class="carousel-item">
      <%= link_to "https://sleepy-atoll-63040.herokuapp.com/", class: "text-decoration-none", target: "_blank" do %>
        <%= image_tag "screen.png", class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Screenshot z projektu</h5>
          <p>Friends</p>
        </div>
      <% end %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<%# @posts.order("created_at desc").each do |post| %>
<%#= link_to post, class: 'text-decoration-none' do %>
<!--    <div class="card mb-3 bg-secondary">-->
<!--      <div class="card-body px-5 ">-->
<!--        <div class="row row-cols-2">-->
<!--          <div class="col col-12 col-sm-6 col-md-8">-->
<!--            <h5 class="card-title mb-1 text-dark"><%#= truncate(post.title, length:50) %></h5><br/>-->
<!--            <p class="text-dark mb-0"><%#= truncate(post.content, length: 250) %></p>-->
<!--            <p class="pt-3 text-light"><strong><%#= pluralize post.comments.count, "comment" %></strong></p>-->
<!--          </div>-->
<!--          <div class="col-6 col-md-4 d-flex justify-content-center" style="max-height: 150px">-->
<%#= image_tag(post.image, class: "rounded", size:"128x128") if post.image.attached?%>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<%# end %>
<%# end %>

