<!--<p style="color: green"><%#= notice %></p>-->

<% @posts.each do |post| %>
  <%= link_to post, class: 'text-decoration-none' do %>
    <div class="card mb-3 bg-secondary">
      <div class="card-body px-5 ">
        <div class="row row-cols-2">
          <div class="col col-12 col-sm-6 col-md-8">
            <h5 class="card-title mb-1 text-dark"><%= truncate(post.title, length:50) %></h5><br/>
            <p class="text-dark mb-0"><%= truncate(post.content, length: 250) %></p>
          </div>
          <div class="col-6 col-md-4 d-flex justify-content-center" style="max-height: 150px">
              <%= image_tag(post.image, class: "rounded", size:"128x128") if post.image.attached?%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<!--<div id="posts">-->
<%# @posts.each do |post| %>
<%#= render post %>
<!--    <p>-->
<%#= link_to "Show this post", post %>
<!--    </p>-->
<%# end %>
<!--</div>-->

<%#= link_to "New post", new_post_path %>
<%#= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
